:root {
  --blue-eclipse-darkest: #0F0E47;
  --blue-eclipse-dark: #272757;
  --blue-eclipse-medium: #505081;
  --blue-eclipse-light: #8686AC;

  --primary-color: var(--blue-eclipse-darkest);
  --main-bg-color: var(--blue-eclipse-dark);
  --hover-color: var(--blue-eclipse-medium);
  --active-border-color: var(--blue-eclipse-light);
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, sans-serif;
}
 
body {
  background-color: white;
  overflow-x: hidden; 
}


#wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
}

.logo-mini {
  display: none;
}

#sidebar {
  min-width: 250px;
  max-width: 250px;
  min-height: 100vh;
  background-color: var(--blue-eclipse-dark) !important;
  transition: all 0.3s;
}


.sidebar .nav-link {
  color: white;
  padding: 12px 20px;
  border-radius: 0; 
  transition: background 0.3s, border-left 0.3s;
  display: flex;
  align-items: center;
  transition: all 0.5s;
}

.sidebar .nav-link:hover {
  background-color: var(--hover-color);
  color: white;
}


.sidebar .nav-link.active {
  background-color: var(--hover-color) !important;
  border-left: 4px solid var(--active-border-color);
}


.sidebar .nav-link img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  object-fit: contain;
}


.menu-text {
  font-weight: bold;
  white-space: nowrap; 
}


#sidebarToggle {
  width: 100%;
  border: none;
  background: var(--blue-eclipse-medium);
  color: white;
  padding: 10px;
  margin-top: auto;
  transition: background 0.3s;
}

#sidebarToggle:hover {
  background: var(--hover-color);
}


#sidebar.collapsed {
  min-width: 80px;
  max-width: 80px;
}


#sidebar.collapsed .menu-text {
  display: none;
}

#sidebar.collapsed .nav-link {
  justify-content: center;
  padding-left: 0;
  padding-right: 0;
}

#sidebar.collapsed .nav-link img {
  margin-right: 0;
}


.content-area {
  width: 100%;
  padding: 20px;
}


.level-buttons button {
  width: 100px;
  height: 100px;
  font-size: 24px;
  background-color: var(--blue-eclipse-medium);
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.level-buttons button:hover {
  background-color: var(--blue-eclipse-light);
}


.coinBalance {
  font-weight: bold;
  color: var(--blue-eclipse-darkest);
}


@media (max-width: 768px) {
  .logo-mini {
    display: block;
  }
  .logo-text {
    display: none;
  }
  #sidebar {
     margin-left: 0; 
    min-width: 80px;
    max-width: 80px;
  }
#sidebar .menu-text{
  display: none;
}

#sidebar .nav-link {
  justify-content: center;
  padding-left: 0;
  padding-right: 0;
}

#sidebar .nav-link img {
  margin-right: 0;
}
#sidebarToggle {
display: none;
}

}