:root {
  --blue-eclipse-darkest: #0F0E47;
  --blue-eclipse-dark: #272757;
  --blue-eclipse-medium: #505081;
  --blue-eclipse-light: #8686AC;

  --primary-color: var(--blue-eclipse-darkest);
  --main-bg-color: var(--blue-eclipse-dark);
  --hover-color: var(--blue-eclipse-medium);
  --active-border-color: var(--blue-eclipse-light);
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, sans-serif;
}

body {
  margin: 0;
  background-color: white;
  color: white;
  display: flex;
}

.sidebar {
  height: 100vh;
  background-color: var(--blue-eclipse-dark);
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  position: fixed;
  left: 0;
  top: 0;
  width: 200px;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 30px;
  color: var(--blue-eclipse-light);
}
.logotwo
{
display: none;
}

.text-logo{
  color: white;
  font-size: larger;
  text-decoration: none;
}
.text-logo-two{
  color: white;
  font-size: larger;
  text-decoration: none;
}

.menu-item {
  display: flex;
  align-items: center;
  padding: 12px 20px;
  color: white;
  text-decoration: none;
  transition: background 0.3s, border-left 0.3s;
  box-sizing: border-box;
  cursor: pointer;
}

.menu-item:hover {
  background-color: var(--hover-color);
}

.menu-item.active {
  background-color: var(--hover-color);
  border-left: 4px solid var(--active-border-color);
}

.menu-item img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.menu-text {
  font-weight: bold;
}

.content-area {
  margin-left: 200px;
  padding: 20px;
  flex-grow: 1;
}

.tab-content {
  color: var(--blue-eclipse-darkest);
  display: none;
}

.tab-content.active {
  display: block;
}

.btn {
  display: block;
  width: 200px;
  margin-top: 15px;
  padding: 12px 20px;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  color: white;
  background-color: var(--blue-eclipse-medium);
}

a{
  text-decoration: none;
}
.btn:hover {
    background-color: #8686AC;
    text-decoration: none;
    color: white;
}

.level-buttons {
  flex-wrap: wrap;
  gap: 15px;
  margin-top: 20px;
  display: flex;
}

.level-buttons button {
  width: 100px;
  height: 100px;
  font-size: 24px;
  background-color: var(--blue-eclipse-medium);
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.level-buttons button:hover {
  background-color: var(--blue-eclipse-light);
}


.sidebar {
  width: 200px;
  transition: width 0.25s ease-in-out;

}

.sidebar.collapsed {
  width: 50px;    
}

.content-area {
  margin-left: 200px;
  transition: margin-left 0.25s ease-in-out;
}
.sidebar.collapsed ~ .content-area {
  margin-left: 60px;
}

.sidebar.collapsed .menu-text {
  opacity: 0;
  pointer-events: none;
}
.sidebar.collapsed .logo{
display: none;
}
.sidebar.collapsed .logotwo{
  display: block;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 30px;
  color: var(--blue-eclipse-light);
}


.menu-item {
  transition: justify-content 0.25s;
}



.menu-toggle {
  align-self: flex-end;
  width: 50px;
  height: 100%;      
  border: none;
  background: var(--blue-eclipse-medium);
  cursor: pointer;
  position: relative;
  transition: transform 0.25s, background 0.25s;
}


.menu-toggle::before {
  content: "❮";           
  position: absolute;
  inset: 0;
  display: grid;
  place-content: center;
  font-size: 18px;
  color: white;
}


.sidebar.collapsed .menu-toggle::before {
  content: "❯";
}


.menu-toggle:hover {
  background: var(--hover-color);
}




@media (max-width:900px) {

  .btn {
    display: block;
    margin-top: 15px;
    padding: 12px 20px;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    color: white;
    background-color: var(--blue-eclipse-medium);
    width: 110px;
  }


}